.jumbotron{
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: rgb(124, 163, 142);
}

footer{
    background-color: rgb(124, 163, 142);
}
.card-item{
margin-bottom: 2rem;
}
.card-item-two{
    margin-bottom: 4rem;
}

.banner-home{
    width: 100%;
    height: 200px;
}

.carousel-inner img{
    height: 400px;
}

#sliders{
    margin-bottom: 60px;
}
.carousel-caption{
    font-size: 50px;
}