@grey: #8EB0CA;

.margenes (@top:0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}
.jumbotron{
  
    background-color: @grey;
}

footer{
    background-color: @grey;
}
.card-item{
.margenes(0px, 32px)
}
.card-item-two{
   .margenes(0px, 44px)
}

.banner-home{
    width: 100%;
    height: 200px;
}

.carousel-inner img{
    height: 400px;
}

#sliders{
    .margenes(0px, 60px)
}
.carousel-caption{
    font-size: 50px;
}