.jumbotron {
  background-color: #8EB0CA;
}
footer {
  background-color: #8EB0CA;
}
.card-item {
  margin-top: 0px;
  margin-bottom: 32px;
}
.card-item-two {
  margin-top: 0px;
  margin-bottom: 44px;
}
.banner-home {
  width: 100%;
  height: 200px;
}
.carousel-inner img {
  height: 400px;
}
#sliders {
  margin-top: 0px;
  margin-bottom: 60px;
}
.carousel-caption {
  font-size: 50px;
}
