$grey: #8EB0CA;
@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    @include margenes(50px, 0px );
    background-color: $grey;
}

footer{
    background-color: $grey;
}
.card-item{
margin-bottom: 2rem;
}
.card-item-two{
    margin-bottom: 4rem;
}

.banner-home{
    width: 100%;
    height: 200px;
}

.carousel-inner img{
    height: 400px;
}

#sliders{
    margin-bottom: 60px;
}
.carousel-caption{
    font-size: 50px;
}